{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock %}

{% block opengraph %}
<meta property="og:title" content="{{ section.title }}" />
<meta property="og:description"content="{{ section.description }}" />
<meta property="og:type" content="website" />
{% endblock %}

{% block content %}
<main>
    <header>
    <h1>{{ section.title }}</h1>
    </header>

    <section>
    {% for page in section.pages %}
        <details>
            <summary>
                <span><a href="{{ page.permalink }}">{{ page.title }}</a></span>
                (<time datetime="{{ page.date }}">{{ page.date | date(format="%B %d, %Y") }}</time>)
            </summary>
            {% if page.description %}
            <p>{{ page.description }}</p>
            {% endif %}
        </details>
    {% endfor %}
    </section>
</main>
{% endblock %}
